/* navbar start heare */
/* class 55 start here */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
    text-align: left;
}
.nav-heading h1{
    text-align: right;
    text-transform: uppercase;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
/* navbar end heare */
/* class 55 end here */

/* profile start heare */
/* class 56 start here */
.profile .top-weather-icon{
    right:120px ;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
    width: 140px;
}
.profile .bottom-weather-icon{
     left: 140px;
     bottom: 20px;
     width: 120px;
    transition: width 2s, transform 2s;
}
.profile .bottom-weather-icon:hover{
    width: 140px;
}

.profile-desc p{
    color: gray;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
/* profile end heare */
/* class 56 end here */

/* about me start heare */
/* class 57 start here */
.about-me-image{
    margin-top: 100px;
}
.about-me-image img{
    height: 270px;
    width: 250px;
}
.about-me-desc p{
    text-align: right;
}
.achivement{
    padding-right: 50px;
}
.contract button{
    width: 150px;
}
.contract-links{
    position: relative;
}

.media-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    margin-top: 200px;
}
/* about me end heare */
/* class 57 end here */

/* footer start here */
.footer-menu{
    margin-top: 12px;
}
.footer-menu a{
    display: inline;
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
}
.footer-desc{
    margin: 20px 0;
    font-size: 1.5rem;
}